* {
    font-family: "Nunito", sans-serif;
}
header{
    background-color: #610588;
    padding: 1% 5%;
    display: flex;
    margin: -9px -9px 0 -9px;
}
a,p{
    color: #FFFFFF;
    text-decoration: none;
}
.canto-esquerdo{
    display: flex;
    width: 50%;
    align-items: center;
}
.canto-direito{
    display: flex;
    width: 50%;
}
nav{
    width: 100%;
    padding-right: 10%;
}
ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
body{
    background-color: #CAADE6;
}
main{
    width: 100%;
}
h1{
    color: #610588;
    text-align: center;
    font-size: 50px;
}
.titulo{
    margin: 0;
}
#section1{
    display: flex;
    flex-direction: row;
    padding: 5% 0%;
}
#my-color{
    color: #610588;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    margin: 0;
}
.adaptelas{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    padding: 0% 5%;
}
#mulher{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 0% 5%;
}
#section2{
    display: flex;
    flex-direction: row;
    background-color: #610588;
    padding: 0% 5%;
    margin: 0px -9px;
}
h2{
    color: #FFFFFF;
    text-align: center;
}
footer{
    text-align: center;
    color: #FFFFFF;
    font-size: 17px;
    background-color: #AA79DC;
    margin: 0 -9px -9px -9px;
    padding: 10px;
}
span{
    color: #610588;
    padding-right: 10px;
    font-weight: bold;
}

