
header{
    background-color: #610588;
}
a,p{
    color: #FFFFFF;
}
body{
    background-color: #CAADE6;
}
h1{
    color: #610588;
    text-align: center;
}
#my-color{
    color: #610588;
}
h2{
    color: #FFFFFF;
    text-align: center;
}
#my-div{
    background-color: #610588;
}
footer{
    text-align: center;
    color: #FFFFFF;
    background-color: #AA79DC;
}

